/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e4e9f7 !important;
}

/* sidebar */

li {
  list-style: none;
  margin: 20px 0 20px 0;
}

li > a {
  text-decoration: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-left: -300px;
  transition: 0.4s;
}

.active-main-content {
  margin-left: 250px;
}

.active-sidebar {
  margin-left: 0;
}

/* sidebar */

/* main content */

#main-content {
  transition: 0.4s;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.titile-text {
  font-size: 25px;
}

/* dhasboard */
.card-title {
  font-size: 30px;
  font-weight: 500;
}

.icon {
  font-size: 20px;
}

/* menu */
.card-menu {
  background: #fff;
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.card-img img {
  position: relative;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
}

.card-price {
  font-size: 16px;
  font-weight: 300;
}

.cart {
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  background: #025ce2;
  cursor: pointer;
}

/* main content */

/* responsive */
@media screen and(max-width: 999px) {
}
